<div class="container">
  <h1>
    Coming soon...
  </h1>
</div>
<mouse-mask/>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 2vw, 2em);
    padding: 1em;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  img.logo {
    width: 12em;
  }
</style>
